.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-self: stretch;
}

.recipeList {
  margin-bottom: 60px;
}

.backLink {
  all: unset;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  text-transform: uppercase;
  color: var(--color-main);
  gap: 6px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .filters {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
  }

  .filters {
    flex-basis: 330px;
    flex-direction: column;
    flex-shrink: 0;
  }
}