.main {
  min-width: 280px;
  max-width: 375px;
  width: 100%;
  padding: 0 16px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 1440px;
    padding: 0 80px;
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .recipe {
    gap: 40px;
  }
}
