.container {
  display: block;
  width: 320px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1280px;
  }
}