.title {
  font-weight: 800;
  font-size: 28px;
  line-height: 1.14286;
  color: var(--color-main);
}

@media (min-width: 375px) {
  .title {
    font-size: 40px;
    line-height: 1.1;
    color: var(--color-secondary);
  }
}