.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: var(--color-gray);
}

@media (min-width: 375px) {
  .subtitle {
    line-height: 1.42857;
  }
}

@media (min-width: 768px) {
  .subtitle {
    font-size: 16px;
    color: var(--color-secondary);
    line-height: 1.5;
  }
}