.itemsSet {
  --indent: 20px;
  --items: 3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--indent);
}

.item {
  flex-basis: 325px;
  height: 369px;
}

.item_3,
.item_4,
.item_8,
.item_10 {
  flex-grow: 1;
}

.showAll {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-radius: var(--main-radius);
  color: var(--color-white);
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  cursor: pointer;
}

.showAll a {
  color: currentColor;
}