.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  border-radius: var(--main-radius);
  width: 32px;
  height: 32px;
  background-color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.placeholder {
  font-weight: 700;
  color: var(--color-secondary);
}

@media (min-width: 768px) {
  .avatar {
    width: 40px;
    height: 40px;
  }
}