.tabsWrapper {
  display: flex;
  gap: 30px;
  padding-bottom: 14px;
  overflow-x: auto;
  scrollbar-width: none;
  border-bottom: 1px solid var(--color-gray);
}

.tabsWrapper::-webkit-scrollbar {
  display: none;
}

.tabButton {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -2%;
  color: var(--color-gray);
  background: none;
  white-space: nowrap;
  position: relative;
}

.tabButton:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-main);
}

.active::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--color-main);
}
