:root {
  --color-main: #050505;
  --color-secondary: #1a1a1a;
  --color-gray: #bfbebe;
  --color-gray-light: #e8e8e8;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-family: "Mulish", sans-serif;
  --main-radius: 30px;
}


