.logo {
    color: var(--color-main);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-transform: lowercase;
}

@media (min-width: 768px) {
    .logo {
        font-size: 24px;
        line-height: 28px;
    }
}

:global([data-theme='dark']) .logo {
    color: var(--color-white);
}
