.wrapper {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.profileLink {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #3b82f6;
}