.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.socialLinks {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--gray);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.socialLinks a:hover {
  background-color: var(--gray);
  border-color: var(--dark-gray);
}

.icon {
  width: 20px;
  height: 20px;
  fill: var(--black);
  transition: fill 0.3s ease;
}

.icon:hover {
  fill: var(--dark-gray);
}

.divider {
  border-top: 1px solid var(--gray);
  margin-block: 40px;
}

.footer {
  padding-bottom: 16px;
  text-align: center;
}

.footerText {
  font-size: 14px;
}
