@import 'styles/reset.css';
@import 'styles/variables.css';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  font-family: var(--font-family);
  font-size: 16px;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-secondary);
}

section {
  padding-bottom: 120px;
}